<div class="row">
    <div class="container col-md-3">
        <ul class="list-group">
            <a href="#/profile"><li class="list-group-item">Profile</li></a>
            <a href=""><li class="list-group-item">Change Password</li></a>
            <a href=""><li class="list-group-item">Logout</li></a>
        </ul>
    </div>

    <div class="col-md-6">
        <form name="form" role="form" novalidate ng-submit="save()" show-validation>
        <button type="button"  class="btn btn-info" ng-click="edit_profile()"><span class="glyphicon glyphicon-edit"></span> Edit Profile</button>
        <button ng-if="edit" type="submit" ng-disabled="form.$invalid" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> Save</button>
        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <!--<input ng-if="edit" class="form-control" type="text" name="username" ng-model="username" id="username">-->
            <span >{{settingsAccount.login}}</span>
        </div>
            <div class="form-group">
                <label class="control-label" for="email">E-mail</label>
                <!--<input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"-->
                <!--ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">-->
                <span ng-if="!edit">{{settingsAccount.email}}</span>
                <span ng-if="edit">{{settingsAccount.email}}</span>
                <div ng-show="form.email.$dirty && form.email.$invalid">
                    <p class="help-block"
                       ng-show="form.email.$error.required">
                        Your e-mail is required.
                    </p>
                    <p class="help-block"
                       ng-show="form.email.$error.email">
                        Your e-mail is invalid.
                    </p>
                    <p class="help-block"
                       ng-show="form.email.$error.minlength">
                        Your e-mail is required to be at least 5 characters.
                    </p>
                    <p class="help-block"
                       ng-show="form.email.$error.maxlength">
                        Your e-mail cannot be longer than 100 characters.
                    </p>
                </div>
            </div>

        <div class="form-group">
            <label class="control-label" for="username">Activated</label>
            <!--<input ng-if="edit" class="form-control" type="text" name="username" ng-model="username" id="username">-->
            <span >{{settingsAccount.activated}}</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="firstName">First Name</label>
            <input ng-if="edit" type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name"
                   ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
            <span ng-if="!edit">{{settingsAccount.firstName}}</span>
            <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                <p class="help-block"
                   ng-show="form.firstName.$error.required">
                    Your first name is required.
                </p>
                <p class="help-block"
                   ng-show="form.firstName.$error.minlength">
                    Your first name is required to be at least 1 character.
                </p>
                <p class="help-block"
                   ng-show="form.firstName.$error.maxlength">
                    Your first name cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="lastName">Last Name</label>
            <input ng-if="edit" type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                   ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
            <span ng-if="!edit">{{settingsAccount.lastName}}</span>
            <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                <p class="help-block"
                   ng-show="form.lastName.$error.required">
                    Your last name is required.
                </p>
                <p class="help-block"
                   ng-show="form.lastName.$error.minlength">
                    Your last name is required to be at least 1 character.
                </p>
                <p class="help-block"
                   ng-show="form.lastName.$error.maxlength">
                    Your last name cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="lastName">Mobile Number</label>
            <input ng-if="edit" type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile number"
                   ng-model="settingsAccount.mobile" ng-minlength=1 ng-maxlength=50 required maxlength="50">
            <span ng-if="!edit">{{settingsAccount.mobile}}</span>
        </div>
            <div class="form-group">
            <label class="control-label" for="address1">Address 1</label>
            <input ng-if="edit" type="text" class="form-control" id="address1" name="address1"
                   ng-model="settingsAccount.address1" ng-maxlength=50 maxlength="50">
                <span ng-if="!edit">{{settingsAccount.address1}}</span>
        </div>
            <div class="form-group">
            <label class="control-label" for="address2">Address 2</label>
            <input ng-if="edit" type="text" class="form-control" id="address2" name="address2"
                   ng-model="settingsAccount.address2"   ng-maxlength=100   maxlength="50">
                <span ng-if="!edit">{{settingsAccount.address2}}</span>
        </div>
            <div class="form-group">
            <label class="control-label" for="gender">Gender</label>
             <input ng-if="edit" type="radio" id="gender" name="gender" value="Male"
                   ng-model="settingsAccount.gender"  ><span ng-if="edit">Male</span>
                 <input ng-if="edit" type="radio" id="gender" name="gender" value="Female"
                   ng-model="settingsAccount.gender"  ><span ng-if="edit">Female</span>
                <span ng-if="!edit">{{settingsAccount.gender}}</span>
        </div>
            <div class="form-group">
            <label class="control-label" for="dob">Date of Birthd</label>
            <input ng-if="edit" type="date" class="form-control" id="dob" name="dob" placeholder="Mobile number"
                   ng-model="settingsAccount.dob">
                <span ng-if="!edit">{{settingsAccount.dob}}</span>
        </div>
            <div class="form-group">
            <label class="control-label" for="country">Location</label>
            <input ng-if="edit" type="text" class="form-control" id="country" name="country"
                   ng-model="settingsAccount.country">
                <span ng-if="!edit">{{settingsAccount.country}}</span>
        </div>

</form>
    </div>
    <!--<div class="col-md-6">-->

    <!--</div>-->
</div><!--row-->
