<div>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="setupCompany.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Add Company</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="Search">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <!--<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="companyCode"><span>Company Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Company Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="add1"><span>Address 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="add2"><span>Address 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone1"><span>Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone2"><span>Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fax"><span>Fax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span>Email Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vatno1"><span>Vat Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="web"><span>Web</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tin"><span>Tin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="csymbol"><span>Csymbol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="secuse"><span>Secuse</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bcsymbol"><span>Bcsymbol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cfname"><span>Cfname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="createdDate"><span>CreatedDate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="updatedDate"><span>UpdatedDate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="createdBy"><span>CreatedBy</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="updatedBy"><span>UpdatedBy</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="setupCompany in setupCompanys track by setupCompany.id">
                    <!--<td><a ui-sref="setupCompany.detail({id:setupCompany.id})">{{setupCompany.id}}</a></td>-->
                    <td>{{setupCompany.companyCode}}</td>
                    <td>{{setupCompany.name}}</td>
                    <td>{{setupCompany.add1}}</td>
                    <td>{{setupCompany.add2}}</td>
                    <td>{{setupCompany.phone1}}</td>
                    <td>{{setupCompany.phone2}}</td>
                    <td>{{setupCompany.fax}}</td>
                    <td>{{setupCompany.email}}</td>
                    <td>{{setupCompany.vatno1}}</td>
                    <td>{{setupCompany.web}}</td>
                    <td>{{setupCompany.tin}}</td>
                    <td>{{setupCompany.csymbol}}</td>
                    <td>{{setupCompany.secuse}}</td>
                    <td>{{setupCompany.bcsymbol}}</td>
                    <td>{{setupCompany.cfname}}</td>
                    <!--<td>{{setupCompany.status}}</td>-->
                        <!--<td>{{setupCompany.createdDate | date:'mediumDate'}}</td>-->
                        <!--<td>{{setupCompany.updatedDate | date:'mediumDate'}}</td>-->
                    <!--<td>{{setupCompany.createdBy}}</td>-->
                    <!--<td>{{setupCompany.updatedBy}}</td>-->
                    <td>
                        <button type="submit"
                                ui-sref="setupCompany.detail({id:setupCompany.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="setupCompany.edit({id:setupCompany.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="setupCompany.delete({id:setupCompany.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
