
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySetupCompanyLabel">Create or edit a SetupCompany</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <!--<div class="form-group">-->
            <!--<label for="id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--ng-model="setupCompany.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" for="field_companyCode">Company Code</label>
            <input type="text" class="form-control" name="companyCode" id="field_companyCode"
                    ng-model="setupCompany.companyCode"
                    required />
            <div ng-show="editForm.companyCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.companyCode.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Company Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="setupCompany.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_add1">Address 1</label>
            <input type="text" class="form-control" name="add1" id="field_add1"
                    ng-model="setupCompany.add1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_add2">Address 2</label>
            <input type="text" class="form-control" name="add2" id="field_add2"
                    ng-model="setupCompany.add2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone1">Phone Number</label>
            <input type="text" class="form-control" name="phone1" id="field_phone1"
                    ng-model="setupCompany.phone1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone2">Mobile</label>
            <input type="text" class="form-control" name="phone2" id="field_phone2"
                    ng-model="setupCompany.phone2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax"
                    ng-model="setupCompany.fax"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="setupCompany.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_vatno1">Vat Number</label>
            <input type="text" class="form-control" name="vatno1" id="field_vatno1"
                    ng-model="setupCompany.vatno1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_web">Web</label>
            <input type="text" class="form-control" name="web" id="field_web"
                    ng-model="setupCompany.web"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tin">Tin</label>
            <input type="text" class="form-control" name="tin" id="field_tin"
                    ng-model="setupCompany.tin"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_csymbol">Csymbol</label>
            <input type="text" class="form-control" name="csymbol" id="field_csymbol"
                    ng-model="setupCompany.csymbol"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_secuse">Secuse</label>
            <input type="text" class="form-control" name="secuse" id="field_secuse"
                    ng-model="setupCompany.secuse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bcsymbol">Bcsymbol</label>
            <input type="text" class="form-control" name="bcsymbol" id="field_bcsymbol"
                    ng-model="setupCompany.bcsymbol"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cfname">Cfname</label>
            <input type="text" class="form-control" name="cfname" id="field_cfname"
                    ng-model="setupCompany.cfname"
                     />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_status">Status</label>-->
            <!--<input type="number" class="form-control" name="status" id="field_status"-->
                    <!--ng-model="setupCompany.status"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_createdDate">CreatedDate</label>-->
            <!--<input id="field_createdDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="setupCompany.createdDate" is-open="datePickerForCreatedDate.status.opened"-->
            <!--/>-->
            <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="datePickerForCreatedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_updatedDate">UpdatedDate</label>-->
            <!--<input id="field_updatedDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="setupCompany.updatedDate" is-open="datePickerForUpdatedDate.status.opened"-->
            <!--/>-->
            <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default" ng-click="datePickerForUpdatedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_createdBy">CreatedBy</label>-->
            <!--<input type="number" class="form-control" name="createdBy" id="field_createdBy"-->
                    <!--ng-model="setupCompany.createdBy"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="field_updatedBy">UpdatedBy</label>-->
            <!--<input type="number" class="form-control" name="updatedBy" id="field_updatedBy"-->
                    <!--ng-model="setupCompany.updatedBy"-->
                     <!--/>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
